/* Restablecer márgenes y rellenos de todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0; /* Aseguramos que no haya ningún borde */
}

/* Asegurar que html y body ocupen toda la altura */
html, body {
  height: 100%; /* Ocupa toda la pantalla */
  background-color: #1195c5; /* Fondo azul para toda la página */
}

/* Aseguramos que el contenedor .background cubra toda la altura */
.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe al menos toda la altura de la pantalla */
  background-color: #1195c5; /* Fondo azul */
}

/* Estilo del header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%; /* Asegura que el header ocupe todo el ancho */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para el header */
}

/* Estilo para los títulos del header */
.header h2 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

/* Botón de retroceso y botones de idioma */
.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.language-buttons {
  display: flex;
  justify-content: space-between;
}

.language-button {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }
}

/* Aseguramos que el contenido no se superponga al header */
.centros-container {
  margin-top: 70px; /* Da espacio para el header fijo */
  padding: 0 20px; /* Espacio interno en el contenedor de los centros */
}

/* Estilo para la lista de centros */
.centros-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilo para las tarjetas de centros */
.centro-card {
  width: 45%; /* Ocupa el 45% del ancho del contenedor */
  margin-bottom: 20px;
}

/* Estilo para las imágenes debajo de los centros */
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.img {
  width: 70%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
