
// ----------------------
// Variables
$primary-color: #42b883;
$primary-hover: #36936d;
$bg-color: #ffffff;
$text-color: #333;
$border-radius: 16px;
$card-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$input-border: #ccc;
$input-focus: #a0e5d1;

// ----------------------
// Restablecer márgenes y rellenos de todos los elementos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0; /* Aseguramos que no haya ningún borde */
}

/* Asegurar que html y body ocupen toda la altura */
html, body {
  height: 100%; /* Ocupa toda la pantalla */
  background-color: #1195c5; /* Fondo azul para toda la página */
}

/* Aseguramos que el contenedor .background cubra toda la altura */
.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe al menos toda la altura de la pantalla */
  background-color: #1195c5; /* Fondo azul */
}

/* Estilo del header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%; /* Asegura que el header ocupe todo el ancho */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para el header */
}

/* Estilo para los títulos del header */
.header h2 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

/* Botones de idioma alineados a la derecha */
.language-buttons {
  display: flex;
  justify-content: flex-end; /* Alineamos los botones a la derecha */
  gap: 10px; /* Añadimos un pequeño espacio entre los botones */
}

.language-button {
  background: none;
  border: none;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }
}
.login-container {
    width:400px ;
    height: 220px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #42b883;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
